/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Color de fondo */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
}

.btn {
  cursor: pointer;
  border: none;
  background: #007bff; /* Color del botón */
  color: #fff; /* Color del texto */
  border-radius: 20px; /* Bordes redondeados */
  padding: 10px 20px; /* Espacio interno */
  font-size: 16px; /* Tamaño del texto */
}

form {
  margin-bottom: 20px;
}

input[type="file"] {
  border: 1px solid black;
  padding: 10px; /* Espacio interno */
  border-radius: 5px; /* Bordes redondeados */
}

.basic-single {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 30%;
  width: 30%;
}

.loading-container > div {
  width: 100px;
  height: 100px;
}

