
.main-container {
    text-align: center;
    margin: auto;
    padding: 20px;
  }
  .table-container {
    margin: auto;
    padding: 20px;
  }
  .btn {
    cursor:pointer;
    border: none;
    background: none;
    width: 20px;
    height: 20px;
}

  form {
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  